@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#050505] text-white;
  }
}

@theme {
  --color-orange-500: #ff3e00;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
